.button {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    border: none;
    border-radius: 12px;
    background-color: var(--orange-01);
    padding: 16px 38px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-right: 30px;
    margin-left: 40px;
}

.button svg {
    margin-right: 10px;
}