.cover {
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.2;
    top: 135px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.coverShow {
    display: block;
}

.menu {
    position: fixed;
    visibility: hidden;
    left: -100%;
    z-index: 21;
    width: 500px;
    height: 100vh;
    background-color: white;
    transition: 0.2s ease all;
    top: 135px;
    border: solid 2px white;
    border-right-color: var(--grey-06);
}

.menuShow {
    visibility: visible;
    left: 0;
}
